* {
  font-family: sans-serif;
  box-sizing: border-box; /* make css sane! */
}

body {
  margin: 0;
}

:root {
  --bg-color: white;
  --main-color: #D84315;
  --box-border-color: #BDBDBD;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px;
  color: var(--main-color);
  background: var(--bg-color);
  border-bottom: solid 1px var(--box-border-color);
}

main {
  margin: 0 32px 0 32px;
}

.a-normal, .service {
  text-decoration: inherit;
}

.a-normal:visited, service:visited {
  color: inherit;
}

.box {
  padding: 8px;
  /* border: solid 1px var(--box-border-color); */
  border-radius: 8px;
  display: inline-flex;
}

.box:hover {
  background: ;
}

.logo {
  margin: 0;
  font-size: 1.17em;
}

.logo:visited {
  color: inherit;
}

.service {
  display: inline-grid;
  width: 128px;
  height: 128px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.service:visited {
  color: inherit;
}
